USE [master]
GO
/****** Object:  Database [ZOO]    Script Date: 08/11/2021 09:13:18 ******/
CREATE DATABASE [ZOO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZOO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ZOO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZOO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ZOO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZOO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZOO]
GO
/****** Object:  Table [dbo].[ANIMAL]    Script Date: 08/11/2021 09:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANIMAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [nvarchar](50) NULL,
	[AGE] [int] NULL,
	[REGIME_ALIM] [nvarchar](50) NULL,
	[SEXE] [nvarchar](50) NULL,
	[ANIMAL] [nvarchar](50) NULL,
	[CLASSE] [nvarchar](50) NULL,
	[ESPECE] [nvarchar](50) NULL,
	[MEMBRES] [nvarchar](50) NULL,
	[SPECIFICITES] [nvarchar](50) NULL,
 CONSTRAINT [PK_ANIMAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARNIVORE]    Script Date: 08/11/2021 09:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARNIVORE](
	[ID] [int] NOT NULL,
	[ALIMENT] [nvarchar](50) NULL,
	[POIDS] [decimal](10, 2) NULL,
	[PREDATION] [nvarchar](50) NULL,
	[ID_ANIMAL] [int] NULL,
	[EST_PLANTIGRADE] [bit] NULL,
	[EST_DIGITIGRADE] [bit] NULL,
	[NOMBRE_DENT] [int] NULL,
 CONSTRAINT [PK_CARNIVORE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLACEMENT]    Script Date: 08/11/2021 09:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLACEMENT](
	[ID] [int] NOT NULL,
	[BATIMENT] [nvarchar](50) NULL,
	[ZONE] [nvarchar](50) NULL,
 CONSTRAINT [PK_EMPLACEMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HERBIVORE]    Script Date: 08/11/2021 09:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HERBIVORE](
	[ID] [int] NOT NULL,
	[ALIMENT] [nvarchar](50) NULL,
	[POIDS] [decimal](10, 2) NULL,
	[EST_RUMINANT] [bit] NULL,
	[EST_MONOGASTRIQUE] [bit] NULL,
	[EST_POLYGASTRIQUE] [bit] NULL,
	[ID_ANIMAL] [int] NULL,
 CONSTRAINT [PK_HERBIVORE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONNEL]    Script Date: 08/11/2021 09:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONNEL](
	[ID] [int] NOT NULL,
	[NOM] [nvarchar](50) NULL,
	[PRENOM] [nvarchar](50) NULL,
	[ROLE] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
